*~
.idea
log/*
monitor/mplugin/__base__/data.json
*/*.pyc
monitor/.cache/*
monitor/mplugin/__base__/.counter.dat
monitor/mplugin/__base__/.touch
monitor/mplugin/__base__/mplugin.log
monitor/mplugin/plg-*
config/ecagent.cfg
twistd.pid
